#play-board {
    margin: auto;
    width: 90vw;
    height: fit-content;
    padding: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 500px) {
    #play-board {
        padding: 0em;
    }
}
