#scores {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 4em;
    color: rgb(115, 190, 255);
    font-size: 2em;
    position: sticky;
    top: 0em;
    right: 10em;
    z-index: 2;
}
#scores div {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
}
.text-animation {
    color: yellowgreen;
    font-size: 1.2em;
}
span {
    margin: 0em 5px;
    transition: 0.25s;
}
#message {
    color: yellowgreen;
    margin: auto;
    flex-grow: 1;
    font-size: 0.7em;
    text-align: center;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    z-index: 3;
    padding: 0.5em;
}

@keyframes fade {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {
    #scores {
        font-size: 1.3em;
        max-height: 1em;
        width: 100%;
        right: 0em;
    }
    #scores div {
        margin: 0.5em;
        display: flex;
        flex-direction: row;
    }
}
